<h1>{{name}}</h1>
<dl>
    <td>nombre:</td>
    <dd>{{name}}</dd>

    <td>Edad:</td>
    <dd>{{age}}</dd>

    <td>Metodo:</td>
    <dd>{{getHeroDescription()}}</dd>

    <td>capitalizado:</td>
    <dd>{{capitalizedName}}</dd>
</dl>


<button
    *ngIf="name === 'ironman' "
    (click)="changeHero()" 
    class="btn btn-primary">
    cambiar nombre</button>
<button 
    *ngIf="age===45" 
    (click)="changeAge()" 
    class="btn btn-primary mx-2">
    cambiar edad</button>

<button 
    *ngIf="age===25 || name ==='spiderman'" 
    (click)="resetValues()" 
    class="btn btn-primary mx-2">
    reset valores</button>


